<div class="contact-wrapper contact-wrapper-two">
    <div class="contact-sidebar">
        <div class="contact-sidebar-header">
            <i data-feather="search"></i>
            <div class="search-form">
                <input type="search" class="form-control" placeholder="Tìm đơn hàng">
            </div>
        </div><!-- contact-sidebar-header -->
        <div class="contact-sidebar-body">
            <div class="tab-content">
                <div id="tabContact" class="tab-pane fade active show">
                    <div class="pd-y-20 pd-x-10 contact-list">
                        <div class="media" *ngFor="let item of orderList" (click)="orderDetail = item">
                            <div class="avatar avatar-sm avatar-online"><span
                                    class="avatar-initial rounded-circle bg-gray-700">A</span></div>
                            <div class="media-body mg-l-10">
                                <h6 class="tx-13 mg-b-3">{{item?.userName}}</h6>
                                <span class="tx-12">{{item?.address}}</span>
                            </div><!-- media-body -->
                            <nav>
                                <a href=""><i data-feather="star"></i></a>
                                <a href=""><i data-feather="edit-2"></i></a>
                            </nav>
                        </div><!-- media -->
                    </div><!-- contact-list -->
                </div><!-- tab-pane -->
            </div><!-- tab-content -->
        </div><!-- contact-sidebar-body -->
    </div><!-- contact-sidebar -->

    <div class="contact-content">
        <div class="contact-content-header">
            <nav class="nav">
                <a href="javascript:void(0)" class="nav-link active">Đơn Hàng {{(orderDetail?.code) ? '#' + orderDetail?.code : ''}}</a>
            </nav>
        </div><!-- contact-content-header -->

        <div class="contact-content-body">
            <div class="tab-content no-data" *ngIf="orderDetail == null">
                Vui lòng chọn một đơn hàng để xem.
            </div>
            <div class="tab-content" *ngIf="orderDetail">
                <div id="contactInformation" class="tab-pane show active pd-20 pd-xl-25">
                    <div class="d-flex align-items-center justify-content-between mg-b-25">
                        <h6 class="mg-b-0">Thông tin nhận hàng</h6>
                        <div class="d-flex">
                            <a href="#modalEditContact" data-toggle="modal"
                                class="btn btn-sm btn-white d-flex align-items-center mg-r-5"><i
                                    data-feather="edit-2"></i><span class="d-none d-sm-inline mg-l-5"> Edit</span></a>
                            <a href="#modalDeleteContact" data-toggle="modal"
                                class="btn btn-sm btn-white d-flex align-items-center"><i data-feather="trash"></i><span
                                    class="d-none d-sm-inline mg-l-5"> Delete</span></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-sm">
                            <label
                                class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Username</label>
                            <p class="mg-b-0">{{orderDetail?.userName}}</p>
                        </div><!-- col -->
                        <div class="col-6 col-sm">
                            <label
                                class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Address</label>
                            <p class="mg-b-0">{{orderDetail?.address}}</p>
                        </div><!-- col -->
                        <div class="col-sm mg-t-20 mg-sm-t-0">
                            <label
                                class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Phone</label>
                            <p class="mg-b-0">{{orderDetail?.phone}}</p>
                        </div><!-- col -->
                    </div><!-- row -->

                    <h6 class="mg-t-40 mg-b-20">Thông tin đơn hàng</h6>

                    <div class="row row-sm">
                        <div class="table-responsive">
                            <table class="table table-bordered mg-b-0">
                                <thead>
                                    <tr>
                                        <th scope="col" width="5%">ID</th>
                                        <th scope="col" width="30%">Tên</th>
                                        <th scope="col" width="40%">Mô Tả</th>
                                        <th scope="col" width="15%">Giá Tiền</th>
                                        <th scope="col" width="10%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of orderDetail?.orderDetail">
                                        <th scope="row">{{item.id}}</th>
                                        <td><a href="{{(item?.food) ? client_url + '/p/' + util.generateURL(item?.food.name, item?.food.id) : client_url + '/c/' + util.generateURL(item?.combo.name, item?.combo.id)}}"
                                                target="_blank">{{(item?.food) ? item?.food.name : item?.combo.name}}</a></td>
                                        <td>{{(item?.food) ? item?.food.description : item?.combo.description}}</td>
                                        <td>{{util.formatPrice((item?.food) ? item?.food.price : item?.combo.price)}}</td>
                                        <td>
                                            <a href="/food/create?foodId={{item.id}}" class="mg-r-5">Sửa</a>
                                            <a href="javascript:void(0)" (click)="deleteFood(item.id)" class="text-danger">Xóa</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- table-responsive -->
                    </div><!-- row -->

                    <h6 class="mg-t-40 mg-b-20">Trạng Thái Đơn Hàng</h6>

                    <div [innerHTML]="getStatus(orderDetail?.status)">

                    </div>

                </div>
            </div><!-- tab-content -->
        </div><!-- contact-content-body -->

        <div class="contact-content-sidebar">
            <div class="clearfix mg-b-25">
                <div id="contactAvatar" class="pos-relative float-left">
                    <div class="avatar avatar-xl"><span
                            class="avatar-initial rounded-circle bg-gray-700 tx-normal">A</span></div>
                    <a href="" class="contact-edit-photo" data-toggle="tooltip" title="Upload Photo"><i
                            data-feather="edit-2"></i></a>
                </div>
            </div>
            <h5 id="contactName" class="tx-18 tx-xl-20 mg-b-5">Abigail Johnson</h5>
            <p class="tx-13 tx-lg-12 tx-xl-13 tx-color-03 mg-b-20">President &amp; CEO - ThemePixels, Inc.</p>
            <nav class="contact-call-nav mg-b-20">
                <a href="#" class="nav-call" data-toggle="tooltip" title="Make a Phone Call"><i
                        data-feather="phone"></i></a>
                <a href="#" class="nav-video" data-toggle="tooltip" title="Make a Video Call"><i
                        data-feather="video"></i></a>
                <a href="#" class="nav-msg" data-toggle="tooltip" title="Send Message"><i
                        data-feather="message-square"></i></a>
            </nav><!-- contact-call-nav -->

            <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Biography</label>
            <p class="tx-13 mg-b-0">Gambler, Tea Drinker, Ultimate Piggie, Replacement President of a Major Soft Drink
                Manufacturer. When I give out candies, I give people the flavour I don't like. </p>

            <hr class="mg-y-20">

            <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-15">Options</label>
            <nav class="nav flex-column contact-content-nav mg-b-25">
                <a href="" class="nav-link"><i data-feather="share"></i> Share this Contact</a>
                <a href="" class="nav-link"><i data-feather="star"></i> Add to Favorites</a>
                <a href="" class="nav-link"><i data-feather="slash"></i> Block this Contact</a>
            </nav>

        </div><!-- contact-content-sidebar -->
    </div><!-- contact-content -->

</div><!-- contact-wrapper -->