<nav aria-label="breadcrumb">
    <ol class="breadcrumb mg-b-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Food</li>
    </ol>
</nav>
<div data-label="Add Food" class="df-example demo-forms mt-4">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nameFood">Name</label>
                <input type="text" class="form-control" id="nameFood" placeholder="Name" [(ngModel)]="dataFood.name"
                    name="name">
            </div>
            <div class="form-group col-md-6">
                <label for="priceFood">Price</label>
                <input type="number" class="form-control" id="priceFood" placeholder="5" [(ngModel)]="dataFood.price"
                    name="price">
            </div>
        </div>
        <div class="form-group">
            <label for="descriptionFood">Description</label>
            <textarea class="form-control" id="descriptionFood" rows="2" placeholder="Description"
                [(ngModel)]="dataFood.description" name="description"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="carbonhydrates">Cacbohydrat</label>
                <input type="number" class="form-control" id="carbonhydrates" placeholder="5"
                    [(ngModel)]="dataFood.carbonhydrates" name="carbonhydrates">
            </div>
            <div class="form-group col-md-2">
                <label for="protein">Protein</label>
                <input type="number" class="form-control" id="protein" placeholder="5" [(ngModel)]="dataFood.protein"
                    name="protein">
            </div>
            <div class="form-group col-md-2">
                <label for="lipid">Lipid</label>
                <input type="number" class="form-control" id="lipid" placeholder="5"
                    [(ngModel)]="dataFood.lipid" name="lipid">
            </div>
            <div class="form-group col-md-2">
                <label for="xenluloza">Cellulose</label>
                <input type="number" class="form-control" id="xenluloza" placeholder="5"
                    [(ngModel)]="dataFood.xenluloza" name="xenluloza">
            </div>
            <div class="form-group col-md-2">
                <label for="canxi">Canxi</label>
                <input type="number" class="form-control" id="canxi" placeholder="5" [(ngModel)]="dataFood.canxi"
                    name="canxi">
            </div>
            <div class="form-group col-md-2">
                <label for="iron">Iron</label>
                <input type="number" class="form-control" id="iron" placeholder="5" [(ngModel)]="dataFood.iron"
                    name="iron">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="zinc">Zinc</label>
                <input type="number" class="form-control" id="zinc" placeholder="5" [(ngModel)]="dataFood.zinc"
                    name="zinc">
            </div>
            <div class="form-group col-md-2">
                <label for="vitaminA">Vitamin A</label>
                <input type="number" class="form-control" id="vitaminA" placeholder="5" [(ngModel)]="dataFood.vitaminA"
                    name="vitaminA">
            </div>
            <div class="form-group col-md-2">
                <label for="vitaminB">Vitamin B</label>
                <input type="number" class="form-control" id="vitaminB" placeholder="5" [(ngModel)]="dataFood.vitaminB"
                    name="vitaminB">
            </div>
            <div class="form-group col-md-2">
                <label for="vitaminC">Vitamin C</label>
                <input type="number" class="form-control" id="vitaminC" placeholder="5" [(ngModel)]="dataFood.vitaminC"
                    name="vitaminC">
            </div>
            <div class="form-group col-md-2">
                <label for="vitaminD">Vitamin D</label>
                <input type="number" class="form-control" id="vitaminD" placeholder="5" [(ngModel)]="dataFood.vitaminD"
                    name="vitaminD">
            </div>
            <div class="form-group col-md-2">
                <label for="vitaminE">Vitamin E</label>
                <input type="number" class="form-control" id="vitaminE" placeholder="5" [(ngModel)]="dataFood.vitaminE"
                    name="vitaminE">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="calorie">Calories</label>
                <input type="number" class="form-control" id="calorie" placeholder="5" [(ngModel)]="dataFood.calorie"
                    name="calorie">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="thumbnail">Thumbnaill</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="thumbnail" (change)="fileChange($event)">
                    <label class="custom-file-label"
                        for="thumbnail">{{(dataFood.image == null) ? 'Choose file' : dataFood.image}}</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Category</label>
                <select class="form-control" multiple="multiple" [(ngModel)]="dataFood.cateId" name="cateId">
                    <option *ngFor="let item of listCategory" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-row" *ngIf="dataFood.image != null">
            <div class="form-group col-md-3">
                <label for="preview">Preview Thumbnail</label>
                <img id="preview" [src]="dataFood.image" width="100%" height="auto">
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="saveFood()">Save Food</button>
    </form>
</div><!-- df-example -->