<nav aria-label="breadcrumb">
    <ol class="breadcrumb mg-b-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">List Food</li>
    </ol>
</nav>
<div class="table-responsive mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listFood.data">
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.price}}</td>
                <td>
                    <a href="/food/create?foodId={{item.id}}" class="mg-r-5">Edit</a>
                    <a href="javascript:void(0)" (click)="deleteFood(item.id)" class="text-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div><!-- table-responsive -->
<div class="demo-modal-btn">
    <a href="javascript:void(0)" (click)="showMoreData()" class="btn btn-default">Show More</a>
</div>