<nav aria-label="breadcrumb">
    <ol class="breadcrumb mg-b-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">List Food</li>
    </ol>
</nav>
<div class="table-responsive mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listFood.data">
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.price}}</td>
                <td>
                    <a href="/food/create?foodId={{item.id}}" class="mg-r-5">Edit</a>
                    <a href="javascript:void(0)" class="text-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div><!-- table-responsive -->
<nav aria-label="Page navigation example">
    <ul class="pagination pagination-filled mg-b-0">
        <li class="page-item disabled"><a class="page-link page-link-icon" href="#"><i
                    data-feather="chevron-left"></i></a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-right"></i></a></li>
    </ul>
</nav>