<nav aria-label="breadcrumb">
    <ol class="breadcrumb mg-b-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Set</li>
    </ol>
</nav>
<div data-label="Add Food" class="df-example demo-forms mt-4">
    <form data-parsley-validate (ngSubmit)="saveSet($event)">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nameFood">Name<span class="tx-danger">*</span></label>
                <input required type="text" class="form-control" id="nameFood" placeholder="Name"
                    [(ngModel)]="dataSet.name" name="name">
            </div>
            <div class="form-group col-md-6">
                <label for="priceFood">Price<span class="tx-danger">*</span></label>
                <input required type="number" class="form-control" id="priceFood" placeholder="5"
                    [(ngModel)]="dataSet.price" name="price">
            </div>
        </div>
        <div class="form-group">
            <label for="descriptionFood">Description<span class="tx-danger">*</span></label>
            <textarea class="form-control" id="descriptionFood" rows="2" placeholder="Description"
                [(ngModel)]="dataSet.description" name="description" required></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="carbonhydrates">Cacbohydrat<span class="tx-danger">*</span></label>
                <input required type="number" class="form-control" id="carbonhydrates" placeholder="5"
                    [(ngModel)]="dataSet.carbonhydrates" name="carbonhydrates">
            </div>
            <div class="form-group col-md-2">
                <label for="protein">Protein<span class="tx-danger">*</span></label>
                <input required type="number" class="form-control" id="protein" placeholder="5"
                    [(ngModel)]="dataSet.protein" name="protein">
            </div>
            <div class="form-group col-md-2">
                <label for="lipid">Lipid<span class="tx-danger">*</span></label>
                <input required type="number" class="form-control" id="lipid" placeholder="5"
                    [(ngModel)]="dataSet.lipid" name="lipid">
            </div>
            <div class="form-group col-md-2">
                <label for="xenluloza">Cellulose<span class="tx-danger">*</span></label>
                <input required type="number" class="form-control" id="xenluloza" placeholder="5"
                    [(ngModel)]="dataSet.xenluloza" name="xenluloza">
            </div>
            <div class="form-group col-md-2">
                <label for="canxi">Canxi<span class="tx-danger">*</span></label>
                <input required type="number" class="form-control" id="canxi" placeholder="5"
                    [(ngModel)]="dataSet.canxi" name="canxi">
            </div>
            <div class="form-group col-md-2">
                <label for="iron">Iron<span class="tx-danger">*</span></label>
                <input required type="number" class="form-control" id="iron" placeholder="5" [(ngModel)]="dataSet.iron"
                    name="iron">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="zinc">Zinc<span class="tx-danger">*</span></label>
                <input required type="number" class="form-control" id="zinc" placeholder="5" [(ngModel)]="dataSet.zinc"
                    name="zinc">
            </div>
            <div class="form-group col-md-2">
                <label for="vitaminA">Vitamin A<span class="tx-danger">*</span></label>
                <input required type="number" class="form-control" id="vitaminA" placeholder="5"
                    [(ngModel)]="dataSet.vitaminA" name="vitaminA">
            </div>
            <div class="form-group col-md-2">
                <label for="vitaminB">Vitamin B<span class="tx-danger">*</span></label>
                <input required type="number" class="form-control" id="vitaminB" placeholder="5"
                    [(ngModel)]="dataSet.vitaminB" name="vitaminB">
            </div>
            <div class="form-group col-md-2">
                <label for="vitaminC">Vitamin C<span class="tx-danger">*</span></label>
                <input required type="number" class="form-control" id="vitaminC" placeholder="5"
                    [(ngModel)]="dataSet.vitaminC" name="vitaminC">
            </div>
            <div class="form-group col-md-2">
                <label for="vitaminD">Vitamin D<span class="tx-danger">*</span></label>
                <input required type="number" class="form-control" id="vitaminD" placeholder="5"
                    [(ngModel)]="dataSet.vitaminD" name="vitaminD">
            </div>
            <div class="form-group col-md-2">
                <label for="vitaminE">Vitamin E<span class="tx-danger">*</span></label>
                <input required type="number" class="form-control" id="vitaminE" placeholder="5"
                    [(ngModel)]="dataSet.vitaminE" name="vitaminE">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="calorie">Calories<span class="tx-danger">*</span></label>
                <input required type="number" class="form-control" id="calorie" placeholder="5"
                    [(ngModel)]="dataSet.calorie" name="calorie">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Food<span class="tx-danger">*</span></label>
                <select class="form-control" multiple="multiple" [(ngModel)]="dataSet.foodIds" name="foodIds" required>
                    <option *ngFor="let item of listFood" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Category<span class="tx-danger">*</span></label>
                <select class="form-control" multiple="multiple" [(ngModel)]="dataSet.categoryIds" name="categoryIds"
                    required>
                    <option *ngFor="let item of listCategory" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="thumbnail">Thumbnaill<span class="tx-danger">*</span></label>
                <div class="custom-file">
                    <input required type="file" class="custom-file-input" id="thumbnail" (change)="fileChange($event)">
                    <label class="custom-file-label"
                        for="thumbnail">{{(dataSet.image == null) ? 'Choose file' : dataSet.image}}</label>
                </div>
            </div>
            <div class="form-group col-md-3" *ngIf="dataSet.image != null">
                <label for="preview">Preview Thumbnail</label>
                <img id="preview" [src]="dataSet.image" width="100%" height="auto">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Set</button>
    </form>
</div><!-- df-example -->